# Gizli bilgileri ve ortam değişkenlerini dışarıda tut
# Bu dosya genellikle 'server' klasöründe bulunur
server/.env

# Server (Backend) klasörüne özel dosyalar
# Sanal ortam klasörü
server/venv/

# Client (Frontend) klasörüne özel dosyalar
# Bağımlılık klasörü (yeni yola göre güncellendi)
client/stalker-client/node_modules/
# Build sonrası oluşan çıktı klasörü (yeni yola göre güncellendi)
client/stalker-client/dist/

# Python'un derlenmiş dosyalarını ve önbelleğini dışarıda tut
# Bu dosyalar projenin herhangi bir yerinde oluşabilir
**/__pycache__/
*.pyc

# Log dosyaları
*.log

# IDE ve OS'e özel dosyalar
.idea/
.vscode/
.DS_Store
Thumbs.db
